* /*superselector general, equivale a que todo tendrá estas propiedades*/
{
    box-sizing: border-box; /* da un ancho fijo al container, permite hacer pad interno */
}

body
{
    font-family: 'Roboto';
    font-size: 13px;
}
a
{
    display: inline-block;
}

p /*etiqueta simple*/
{
    color:#000000;
}

header 
{
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: black;
    opacity: 0.7;
}

/* (espacio) .container para especificar cointainer dentro de header */
header .container 
{  
    display: flex;  /* acomoda sus elementos hijos como a y nav */
    justify-content: space-between; /* organiza los elementos hijos horizontalmente */
    align-items: center; /* alinea los elementos eje y */
}   

header .container nav a
{
    color: red;  /* color del texto en etiquetas a */
    text-decoration: none;  /*elimina el subrayado de los vínculos */
    margin: 0 15px; /* margen entre los menú (arriba/abajo - lados)*/
}

header .container .logo /*clase dentro de container dentro de header */
{
    width: 100px;  
    position: absolute;
    top: 0;
    padding-top: 5px;
    z-index: 3;
    opacity: 1;
}



.boton 
{
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
}

.boton.boton-rojo
{
    color: white;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
}

.boton.boton-blanco
{
    color: red;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    border:1px solid red;
}

.seccion
{
    padding-top: 60px;
    padding-bottom: 60px;
}

.cuadrado-perfecto 
{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.cuadrado-perfecto img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.container /*superselector de clase*/
{
    width: 1140px; /* ancho fijo a todos los elementos clase container */
    margin: 0 auto 0 auto; /* margen de container (arriba - derecha - abajo - izquierda)*/
    padding-right: 15px;
    padding-left: 15px;   
    position: relative;
}

.container p
{
    margin-top: 0px;
}

.container-fluid 
{
    width: 100%; /* ancho fijo a todos los elementos clase container */
    margin: 0 auto 0 auto; /* margen de container (arriba - derecha - abajo - izquierda)*/
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.row
{
    display:flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.columna
{
    padding-right:15px;
    padding-left: 15px;
}

.columna-33
{
    width: 33.33%;
}

.empujar-50
{
    margin-left: 50%;

}

.empujar-0
{
    margin: left 50%;
    
}

#inicio /*superselector ID*/
{
    position: relative; /* mantiene el espacio que ocupa este bloque*/
}

#inicio img 
{
    width: 100%;
    display: block;
}

#inicio .bloque-inicio
{
    position: absolute;
    top: 290px;
    left: 380px;
    width: 600px;
    text-align: center;
}

#inicio .bloque-inicio h1
{
    color: white;
    font-size: 45px;
}

#inicio .bloque-inicio p
{
    color: white;
    font-size: 16px;
}

#nosotros .container
{
    background-image: url('img/latas.jpg');
    width: 100%;
    text-align: center;
    
}   

#nosotros p
{
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#servicios .bloque-servicio
{
    border: 1px solid grey;
    margin-bottom: 15px;
}

#servicios .bloque-servicio .bloque-img-servicio.cuadrado-perfecto
{
    padding-bottom: 56.25%;
}

#servicios .bloque-servicio .bloque-img-servicio img
{
    width: 100%;
}

#servicios .bloque-servicio .bloque-contenido-servicio
{
    padding: 15px;
}

#servicios .bloque-contenido.servicio h3
{
    margin-top: 0;
    font-size: 25px;
} 

#galeria h4
{
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 16px;
    width: 100%;
}

#galeria img
{
   filter:grayscale(1);
}

#galeria .cuadrado-perfecto:hover img
{
   filter:grayscale(0);
}

#galeria .cuadrado-perfecto:hover h4
{
   display: none;;
}

#contacto
{
    position: relative;
}

#contacto iframe
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter:grayscale(1);
    position: relative;
}

#contacto form
{
    padding: 60px;
    background-color: red;
}

#contacto form .form-block
{
    width: 100%;
    margin-bottom: 15px;
}

#contacto form .form-block .form-control
{
    display: block;
    height: 40px;
    font-size: 10px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
}

#contacto form .form-block textarea
{
    display: block;
    height: 100px;
    font-size: 10px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
}